$mainColorOfSite: #F16D7F;
$mainDeepColorOfSite: #F26376;
$mainHoverColorOfSite: #E05C6E;
$lightColorOfSite: #FFFFFF;
$secondLightColorOfSite: #fff;
$thirdLightColorOfSite:  #FBFBFB;
$fourthLightColorOfSite: #EBEBEB;
$semiDarkColorofSite: #6F6E6E;
$secondSemiDarkColorofSite: #4A4A4A;
$darkColorOfSite: #222222;
$darkBackgroundColorOfSite: #222224;
$thirdDarkColorOfSite: #000000;
$fourthDarkColorOfSite: #2a2a2a15;
$desktopWidthOfSite: 1140px;
$widthOfBurgerMenu: 232px;